In [1]:
import pandas as pd
import os

os.chdir("C:\\Users\\admin\\Desktop\\Impetus\\Programs\\3.Pandas Problems\\Data")

df = pd.read_csv("survey_results_public.csv",index_col = "Respondent")
df1 = pd.read_csv("survey_results_schema.csv",index_col='Column')

In [2]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [3]:
#one way of doing this
filt = (df['Country'] == 'India') | (df['Country'] == 'Germany') | (df['Country'] == 'Poland')
df.loc[filt,['CurrencySymbol','WebframeWorkedWith']]

           CurrencySymbol                                 WebframeWorkedWith
Respondent
1                     EUR                               ASP.NET;ASP.NET Core
6                     EUR                                                NaN
7                     USD                                                NaN
22                    INR                                                NaN
23                    EUR                                                NaN
...                   ...                                                ...
62464                 NaN                                                NaN
62954                 NaN  ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js
64104                 NaN                                                NaN
64236                 NaN                                                NaN
64925                 NaN                                                NaN

[13571 rows x 2 columns]

In [18]:
#these countries data we want only
countries = ['India','Germany','Poland']

In [23]:
#pythonic way
filt = df['Country'].isin(countries)
df.loc[filt,['CurrencySymbol','WebframeWorkedWith']]

           CurrencySymbol                                 WebframeWorkedWith
Respondent
1                     EUR                               ASP.NET;ASP.NET Core
6                     EUR                                                NaN
7                     USD                                                NaN
22                    INR                                                NaN
23                    EUR                                                NaN
...                   ...                                                ...
62464                 NaN                                                NaN
62954                 NaN  ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js
64104                 NaN                                                NaN
64236                 NaN                                                NaN
64925                 NaN                                                NaN

[13571 rows x 2 columns]

In [36]:
#if there is a string java;python;etc and if you want data which use django language
filt = df['WebframeWorkedWith'].str.contains('Django', na=False)

In [37]:
df.loc[filt,['CurrencySymbol','WebframeWorkedWith']]

           CurrencySymbol                                 WebframeWorkedWith
Respondent
11                    GBP                 Angular;Angular.js;Django;React.js
26                    CAD                                    Django;React.js
33                    EUR         Angular;Angular.js;Django;Express;React.js
51                    CAD                                    Django;React.js
66                    NaN                                      Django;jQuery
...                   ...                                                ...
59168                 NaN  Angular;Angular.js;ASP.NET;ASP.NET Core;Django...
59638                 NaN                                       Django;Flask
60149                 NaN                                             Django
61111                 NaN                       ASP.NET Core;Django;React.js
62954                 NaN  ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js

[6014 rows x 2 columns]