In [1]:
import pandas as pd
import os

os.chdir("C:\\Users\\admin\\Desktop\\Impetus\\Programs\\3.Pandas Problems\\Data")

df = pd.read_csv("survey_results_public.csv")
df1 = pd.read_csv("survey_results_schema.csv",index_col='Column')
#find out countrywise average year of experience a developer has who code as a hobby

In [2]:
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [3]:
df.isna()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,False,False,False,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,True,True,True,False,False,...,True,True,True,False,True,True,False,True,False,False
2,False,False,False,True,False,True,True,True,False,True,...,False,False,True,True,True,True,False,True,False,True
3,False,False,False,False,False,True,True,True,False,False,...,True,True,False,False,True,True,False,False,False,False
4,False,False,False,False,False,True,True,True,False,True,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,False,True,False,True,False,True,True,True,False,True,...,True,True,True,False,True,True,True,True,False,False
64457,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64458,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64459,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,False,True,True,True,True,True
64460,False,True,False,True,True,True,True,True,False,True,...,True,True,True,False,False,False,True,True,True,True

In [4]:
df.isnull()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,False,False,False,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,True,True,True,False,False,...,True,True,True,False,True,True,False,True,False,False
2,False,False,False,True,False,True,True,True,False,True,...,False,False,True,True,True,True,False,True,False,True
3,False,False,False,False,False,True,True,True,False,False,...,True,True,False,False,True,True,False,False,False,False
4,False,False,False,False,False,True,True,True,False,True,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,False,True,False,True,False,True,True,True,False,True,...,True,True,True,False,True,True,True,True,False,False
64457,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64458,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64459,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,False,True,True,True,True,True
64460,False,True,False,True,True,True,True,True,False,True,...,True,True,True,False,False,False,True,True,True,True

In [5]:
df['Hobbyist'].unique()

array(['Yes', 'No', nan], dtype=object)

In [6]:
df['YearsCode'].unique()

array(['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19',
       '9', '22', '30', '23', '20', '2', 'Less than 1 year', '3', '13',
       '25', '16', '43', '11', '38', '33', nan, '24', '21', '12', '40',
       '27', '50', '46', '14', '18', '28', '32', '44', '26', '42', '31',
       '34', '29', '1', '39', '41', '45', 'More than 50 years', '47',
       '49', '48'], dtype=object)

In [10]:
df['YearsCode'].replace('Less than 1 year',0,inplace=True)
df['YearsCode'].replace('More than 50 years',50,inplace=True)

In [11]:
df['YearsCode'].unique()

array(['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19',
       '9', '22', '30', '23', '20', '2', 0, '3', '13', '25', '16', '43',
       '11', '38', '33', nan, '24', '21', '12', '40', '27', '50', '46',
       '14', '18', '28', '32', '44', '26', '42', '31', '34', '29', '1',
       '39', '41', '45', 50, '47', '49', '48'], dtype=object)

In [12]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [110]:
filt = df['Hobbyist'].str.contains('Yes',na=False)
yes_df = df.loc[filt,'Country']
yes_df

0                   Germany
2        Russian Federation
3                   Albania
4             United States
6                     India
                ...
64456         United States
64457               Morocco
64458              Viet Nam
64459                Poland
64460                 Spain
Name: Country, Length: 50388, dtype: object

In [111]:
grp_obj = df.groupby([yes_df])
grp_obj['YearsCode'].value_counts()

Country      YearsCode
Afghanistan  4.0          6
             3.0          4
             5.0          4
             2.0          3
             9.0          3
                         ..
Zimbabwe     0.0          1
             4.0          1
             9.0          1
             16.0         1
             18.0         1
Name: YearsCode, Length: 3250, dtype: int64

In [81]:
grp_obj['YearsCode'].mean()

Country
Afghanistan                              9.828571
Albania                                  6.578947
Algeria                                  6.655172
Andorra                                 23.200000
Angola                                   4.500000
                                          ...
Venezuela, Bolivarian Republic of...    10.863636
Viet Nam                                 6.623431
Yemen                                    7.200000
Zambia                                   6.333333
Zimbabwe                                 6.800000
Name: YearsCode, Length: 177, dtype: float64

In [114]:
# df1 = df.dropna(subset=['Country','Hobbyist'])
# filt = (df1['Country'] == 'Angola') & (df1["Hobbyist"]=='Yes')
# df1.loc[filt].mean()

Respondent       34286.2
Age                 45.5
CompTotal          702.0
ConvertedComp     4848.0
WorkWeekHrs        104.0
YearsCode            4.5
dtype: float64

In [17]:
grp_obj['YearsCode'].mean().loc["India"]

7.6031221303948575

In [82]:
#find out countrywise number of developer has who code as a hobby

In [90]:
yes_df.value_counts()

United States          9718
India                  6645
Germany                3249
United Kingdom         3029
Canada                 1676
                       ...
Antigua and Barbuda       1
Papua New Guinea          1
Grenada                   1
Chad                      1
Marshall Islands          1
Name: Country, Length: 177, dtype: int64

In [115]:
# df1 = df.dropna(subset=['Country','Hobbyist'])
# filt = (df1['Country'] == 'India') & (df1["Hobbyist"]=='Yes')
# df1.loc[filt,['Country','Hobbyist']]

      Country Hobbyist
6       India      Yes
21      India      Yes
57      India      Yes
62      India      Yes
147     India      Yes
...       ...      ...
64391   India      Yes
64398   India      Yes
64439   India      Yes
64442   India      Yes
64452   India      Yes

[6645 rows x 2 columns]